version: '3.0'

services:

  nginx:
    container_name: nginx
    image: nginx:${RELEASE_TAG}
    environment:
      TZ: Europe/Brussels
    ports:
    ports:
    - "80:80/tcp"
    restart: always
    volumes:
    - "{{ data_path }}/nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro"
    - "{{ data_path }}/nginx/html/index.html:/usr/share/nginx/html/index.html:ro"
    - "{{ data_path }}/nginx/logs:/var/log/nginx:rw"
